:root {
    --bs-primary: #6996f7;
    --bs-primary-rgb: 105, 150, 247;
    --bs-secondary: #ede277;
    --bs-secondary-rgb: 237, 226, 119;
    --bs-tertiary: #272727;
    --bs-tertiary-rgb: 39, 39, 39;
}

.mobile-sidebar {
    background-color: var(--bs-tertiary);
}

.card {
    margin: 0 .5em;
    width: calc(100% / 3);
    border: none;
}

.dnav:hover,
.dnav:focus {
    background-color: var(--bs-tertiary);
    border: 1px solid var(--bs-primary);
    color: var(--bs-primary);
}

.card .btn {
    font-size: 24px;
    font-weight: 600;
}

.card .btn:hover,
.card .btn:focus {
    background-color: var(--bs-tertiary);
    border: 1px solid var(--bs-secondary);
    color: var(--bs-secondary);
}

.card h2 {
    font-size: 40px;
}

/* @media screen and (min-width: 1025px) {
    .pushbar_main_content {
        display: none;
    }
} */

.profile-title {
    font-size: 32px;
}

.profile-text {
    font-weight: normal;
    font-size: 16px;
}

.mobile-profile-title {
    display: none;
}

.contact-section {
    padding-top: 0;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.contact-aside p,
.contact-form input,
.contact-form textarea {
    font-weight: normal;
}

.contact-btn:hover,
.contact-btn:focus {
    background-color: var(--bs-tertiary);
    color: var(--bs-secondary);
    border: 1px solid var(--bs-secondary);
}

.contact-btn::content {
    content: "Submitted";
}

@media screen and (max-width: 1024px) {
    .dnav {
        font-size: 24px;
    }

    main .tw-flex {
        flex-direction: column;
    }

    .card {
        width: auto;
    }

    .card img {
        width: calc(100vw - 50px);
    }

    .card .btn {
        font-size: 32px;
    }

    .profile-block {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .profile-img {
        width: auto;
        margin-left: 0;
    }

    .profile-content {
        width: auto;
    }

    .contact-form {
        width: auto;
    }

    .contact-aside {
        width: auto;
        margin-left: 0;
    }

    .contact-aside p {
        aspect-ratio: auto;
        padding: 1rem;
    }

    .contact-aside button {
        margin-top: 2rem;
    }
}

@media screen and (min-width: 769px) {
    .pushbar_main_content {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .dnav {
        display: none;
    }

    footer {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr);
        align-content: center;
    }

    .smicons {
        margin-top: -5px !important;
    }

    h1 {
        font-size: 60%;
    }

    main section {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .profile-title {
        display: none;
    }

    .mobile-profile-title {
        display: block;
        width: 66%;
        margin: 0 auto;
        padding-top: .5rem;
        padding-bottom: .5rem;
    }

    .profile-content {
        order: 2;
        width: auto;
    }

    .profile-img {
        order: 1;
        width: 66%;
        margin: 0 auto;
    }

    .profile-block {
        display: flex;
    }
}